/* selects the body element */
body {
    font-size: 24px;
	font-family: 'Roboto', sans-serif;
}

h1 {
    /* using a sans-serif font for headings is popular when mixing different type faces
        https://www.adobe.com/creativecloud/design/discover/serif-vs-sans-serif.html */
    font-family: 'Roboto' sans-serif;
}

/*
.wrapper {

    background: lightgray;

    margin: 24px;

    padding: 24px;
}*/

/*
.salmon {
    color: salmon;
}*/

/* selects the element with id = adjective 
#adjective {
    font-family: "Comic Sans MS";
}*/


a {
	font: Comic;
	color: #7915bd;
}


a:hover{
	color: red
	
}



/*div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}*/

head {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}







body {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}